@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import './variable';
@import './nav';
@import './primary';
@import './feature';
@import './secondary';
@import './reviews';
@import './cta';
@import './footer';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: $colorDarkBlueMain;
}

main {
    max-width: 1440px;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}